<ui>
    <menubar name="menubar">
        <menu action="weather_menu">
        <menuitem action="add_new" />
            <menuitem action="edit" />
            <menuitem action="remove" />
            <separator />
            <menuitem action="get_current_here" />
            <menuitem action="get_current_there" />
            <separator />
            <menuitem action="options" />
            <separator />
            <menuitem action="exit" />
        </menu>
        <menu action="file_menu">
            <menuitem action="import" />
            <menuitem action="import_dataset" />
            <separator />
            <menuitem action="export" />
            <menuitem action="export_pastebin" />
        </menu>
        <menu action="data_menu">
            <menuitem action="data_range" />
            <menuitem action="data_selected" />
            <separator />
            <menuitem action="search" />
            <menuitem action="view_subset" />
        </menu>
        <menu action="datasets_menu">
            <menuitem action="switch_dataset" />
            <separator />
            <menuitem action="add_dataset" />
            <menuitem action="remove_dataset" />
            <menuitem action="rename_dataset" />
            <menuitem action="merge_datasets" />
            <separator />
            <menuitem action="copy_data_dataset" />
        </menu>
        <menu action="help_menu">
            <menuitem action="about" />
            <separator />
            <menuitem action="help" />
        </menu>
    </menubar>
    <popup name="context_menu">
        <menuitem action="add_new" />
        <menuitem action="edit" />
        <menuitem action="remove" />
        <separator />
        <menuitem action="switch_dataset" />
        <menuitem action="add_dataset" />
        <menuitem action="remove_dataset" />
    </popup>
</ui>
