<ui>
  <menubar name="menubar">
    <menu action="weather_menu">
      <menuitem action="add_new" />
      <menuitem action="edit" />
      <menuitem action="remove" />
      <separator />
      <menuitem action="clear_data" />
      <menuitem action="clear_all" />
      <separator />
      <menuitem action="get_current_here" />
      <menuitem action="get_current_there" />
      <separator />
      <menuitem action="exit" />
    </menu>
    <menu action="file_menu">
      <menuitem action="import" />
      <menuitem action="import_merge" />
      <menuitem action="import_profile" />
      <menuitem action="export" />
      <menuitem action="export_pastebin" />
      <separator />
      <menuitem action="save_data" />
    </menu>
    <menu action="info_global_menu">
      <menuitem action="info" />
      <menuitem action="info_range" />
      <menuitem action="info_selected" />
      <separator />
      <menuitem action="charts" />
      <menuitem action="charts_range" />
      <menuitem action="charts_selected" />
      <separator />
      <menuitem action="graphs" />
      <menuitem action="graphs_range" />
      <menuitem action="graphs_selected" />
      <separator />
      <menuitem action="view_subset" />
    </menu>
    <menu action="profiles_menu">
      <menuitem action="switch_profile" />
      <separator />
      <menuitem action="add_profile" />
      <menuitem action="remove_profile" />
      <menuitem action="rename_profile" />
      <menuitem action="merge_profiles" />
      <separator />
      <menuitem action="copy_new" />
      <menuitem action="copy_existing" />
    </menu>
    <menu action="options_menu">
      <menuitem action="options" />
    </menu>
    <menu action="help_menu">
      <menuitem action="about" />
      <menuitem action="mobile_link" />
      <separator />
      <menuitem action="help" />
    </menu>
  </menubar>
  <toolbar name="toolbar">
    <toolitem action="add_new" />
    <toolitem action="remove" />
    <separator />
    <toolitem action="info" />
    <separator />
    <toolitem action="import" />
    <toolitem action="export" />
    <separator />
    <toolitem action="clear_data" />
  </toolbar>
  <popup name="context_menu">
    <menuitem action="add_new" />
    <menuitem action="edit" />
    <menuitem action="remove" />
    <separator />
    <menuitem action="info" />
    <menuitem action="charts" />
    <menuitem action="graphs" />
    <separator />
    <menuitem action="switch_profile" />
    <menuitem action="add_profile" />
    <menuitem action="remove_profile" />
  </popup>
</ui>
