/* Stylesheet for the WeatherLog HTML help files. */
/* color scheme: http://www.colorcombos.com/images/color-schemes/color-scheme-36-main.png */


/* Global styles */
body {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
}

/* Layout styles */
.sidebar {
    position: fixed;
    background-color: #003333;
    color: #999999;
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 200px;
}

.main_content {
    margin: 0px;
    margin-left: 220px;
    width: calc(100% - 240px);
}

.sidebar, .main_content {
    float: left;
}

/* Main content styles */
.main_content {
    padding: 10px;
}

.main_content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main_content h1 {
    color: #003333;
    width: 100%;
    border-bottom: 2px solid #003333;
}

.main_content code {
    background-color: #BFBFBF;
    font-weight: bold;
}

.main_content a {
    color: #003333;
}

/* Sidebar styles */
.sidebar h3 {
    text-align: center;
}

.sidebar a {
    color: #669999;
    text-decoration: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #669999;
}

.sidebar ul:last-child {
    border-bottom: 1px solid #669999;
}

/* Main page styles */
#main_page {
    position: fixed;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    text-align: center;
}

#main_page h1 {
    margin-top: 0px;
    color: #003333;
}

#main_page a {
    color: #003333;
}
